.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    transition: all .25s ease-in;
    opacity: .8;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;
}